body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
}

.add-book {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-book button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.add-book button:hover {
    background-color: #45a049;
}

.add-book .close-btn{
    background-color: red;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.add-book .close-btn:hover {
    background-color: darkred;
}

.form-dialog{
    padding: 20px;
}

.dialog-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
}

.dialog-content h4{
    margin: 0px;
}

.dialog-content form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.dialog-content form .buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.books-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.books{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card {
    box-sizing: border-box;
    background-color: aliceblue;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.card img{
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.info {
    width: 100%;
}

.info h4{
    margin: 10px 0px;
}