body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
}

.books{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    box-sizing: border-box;
    background-color: aliceblue;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 20px;
}

.card img{
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}

.info {
    width: 100%;
}

.info h4{
    margin: 10px 0px;
}